body {
    padding-top: 3.5rem;
}

.instance-status-init {
    background-color: #0b2e13;
}

.instance-status-success {
    background-color: #19692c;
}

.instance-status-fail {
    background-color: #a71d2a;
}

.instance-status-running {
    background-color: #212529;
}

.instance-status-standby {
    background-color: #19692c;
}

.instance-status-pause {
    background-color: #ba8b00;
}