{% extends "base.html" %}
{% block content %}
    <div class="px-4">
        <h1>流程步骤--id:{{ flow.id }}--name:{{ flow.name }}</h1>
        <div class="list-group">
            {% for item in flow_steps %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">#{{ item.stepnum }}. {{ item.stepname }}</h5>
                    </div>
                    <p class="mb-1">description: {{ item.stepdescription }}</p>
                    <p class="mb-1">module(使用的模块名称): {{ item.modulename }}</p>
                    <p class="mb-1">输入参数mapping(解决模块之间参数冲突)：{{ item.inputargalias }}</p>
                    <p class="mb-1">输出参数mapping(解决模块之间参数冲突)：{{ item.outputargalias }}</p>
                    <p class="mb-1">失败重试次数(0:不重试,>0:重试次数)：{{ item.failed_retrycounts }}</p>
                    <p class="mb-1">下一个步骤等待时间(-1:暂停,0:不等待,>0:等待秒数)：{{ item.nextstep_waitseconds }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    <br/>
{% endblock %}